In [1]:
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading data
ds = load_dataset('lukebarousse/data_jobs')
df = ds['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [6]:
df_MCL_US = df[(df['job_title_short'] == 'Machine Learning Engineer') & (df['job_location'] == 'United States')].copy()

In [7]:
df_MCL_US['job_posted_month'] = df_MCL_US['job_posted_date'].dt.month

In [ ]:
df_MCL_US_exploded = df_MCL_US.explode('job_skills')

In [ ]:
df_MCL_US_exploded

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
11745,Machine Learning Engineer,Data and Machine Learning Engineer,United States,via Trabajo.org,Full-time,False,Sudan,2023-11-01 13:39:05,False,True,Sudan,None,NaN,NaN,Hewlett Packard Enterprise Company,None,None,11
24460,Machine Learning Engineer,"Data Science Engineering, Machine Learning",United States,via BeBee,Full-time,False,"Illinois, United States",2023-11-30 13:05:13,False,False,United States,None,NaN,NaN,ALDI Einkauf GmbH & Co. oHG,sql,"{'cloud': ['databricks', 'azure'], 'databases'...",11
24460,Machine Learning Engineer,"Data Science Engineering, Machine Learning",United States,via BeBee,Full-time,False,"Illinois, United States",2023-11-30 13:05:13,False,False,United States,None,NaN,NaN,ALDI Einkauf GmbH & Co. oHG,python,"{'cloud': ['databricks', 'azure'], 'databases'...",11
24460,Machine Learning Engineer,"Data Science Engineering, Machine Learning",United States,via BeBee,Full-time,False,"Illinois, United States",2023-11-30 13:05:13,False,False,United States,None,NaN,NaN,ALDI Einkauf GmbH & Co. oHG,scala,"{'cloud': ['databricks', 'azure'], 'databases'...",11
24460,Machine Learning Engineer,"Data Science Engineering, Machine Learning",United States,via BeBee,Full-time,False,"Illinois, United States",2023-11-30 13:05:13,False,False,United States,None,NaN,NaN,ALDI Einkauf GmbH & Co. oHG,nosql,"{'cloud': ['databricks', 'azure'], 'databases'...",11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768271,Machine Learning Engineer,Head of Artificial Intelligence,United States,via LinkedIn,Full-time,False,Sudan,2023-08-15 01:46:49,False,False,Sudan,None,NaN,NaN,Sud Recruiting,None,None,8
779156,Machine Learning Engineer,"Research Scientist, Machine Learning",United States,via Trabajo.org,Full-time,False,"Texas, United States",2023-10-10 05:25:57,False,True,United States,None,NaN,NaN,Amazon,java,"{'programming': ['java', 'c++', 'python']}",10
779156,Machine Learning Engineer,"Research Scientist, Machine Learning",United States,via Trabajo.org,Full-time,False,"Texas, United States",2023-10-10 05:25:57,False,True,United States,None,NaN,NaN,Amazon,c++,"{'programming': ['java', 'c++', 'python']}",10
779156,Machine Learning Engineer,"Research Scientist, Machine Learning",United States,via Trabajo.org,Full-time,False,"Texas, United States",2023-10-10 05:25:57,False,True,United States,None,NaN,NaN,Amazon,python,"{'programming': ['java', 'c++', 'python']}",10
780032,Machine Learning Engineer,"Senior Manager, Algorithms",United States,via BeBee,Full-time,False,"Texas, United States",2023-10-01 05:04:00,False,False,United States,None,NaN,NaN,Novocure Inc.,None,None,10

In [ ]:
df_MCL_US_pivot = df_MCL_US.pivot_table(index='job_posted_month', columns='job_skills', aggfunc='size', fill_value=0)

df_MCL_US_pivot.loc['Total'] = df_MCL_US_pivot.sum()

df_MCL_US_pivot[df_MCL_US_pivot.loc['Total'].sort_values(ascending=False)]

job_skills,airflow,angular,apl,aws,azure,bash,bigquery,c#,c++,cassandra,...,spring,sql,sql server,tableau,tensorflow,terraform,unify,unity,unreal,vba
job_posted_month,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,1,0,0,1,1,1,...,0,2,0,1,1,0,1,0,0,0
2,0,0,0,1,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,2,2,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
5,2,0,0,1,0,0,0,0,0,0,...,0,2,0,1,3,0,0,0,0,0
6,0,0,0,3,0,0,1,0,1,0,...,0,2,0,2,1,0,0,0,0,0
8,0,1,0,2,0,0,0,0,0,0,...,1,1,0,0,2,0,0,0,0,0
9,1,0,0,5,1,0,0,0,1,0,...,0,1,0,0,5,1,0,1,1,0
10,0,0,0,3,0,0,0,0,1,0,...,0,4,0,1,2,2,0,0,0,1
11,0,0,0,4,5,0,0,0,0,0,...,1,6,1,0,2,1,0,0,0,0
12,0,0,1,1,1,1,0,0,0,0,...,0,4,0,0,3,0,0,0,0,0
Total,3,1,1,24,11,1,1,1,4,1,...,2,23,1,5,24,4,1,1,1,1